body {
  background-color: lightblue;
}

h1 {
  color: navy;
  margin-left: 20px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f5f5f5;
}

tr:hover {
  background-color: turquoise;
}

td {
  white-space: nowrap; /* Prevent text from wrapping */
  overflow: hidden; /* Hide overflowing text */
  text-overflow: ellipsis; /* Show ellipsis for overflowed text */
}