body {
  background-color: lightblue;
}

h1 {
  color: navy;
  margin-left: 20px;
}

p {
  color: black;
  transition: opacity 1s ease-in;  
}




/* Define the default and visited link color */
a, a:visited {
  color: blue; 
  text-decoration: underline; 
}
